body {
    margin: 0;
    padding: 0;
    background-image:url(premium_photo-1661964071015-d97428970584.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:40px;
}


form {
    border: 5px white solid;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 25px;
    padding-top: 0px;
    margin-bottom: 20px;
    background-color: bisque;


}

.contact{
    background-color: black;
    color:aliceblue;
    text-align:center;
    margin-left:400px;
    margin-right:400px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:20px;
}

.abcd{
    margin-bottom:50px;
    font-size:20px;
    text-align: center;
}

.para{
    font-size:22px;
    font-weight: bolder;
    line-height:1.6;
    padding: 0px 50px 0px 50px;
    text-align: justify;
    color:whitesmoke;
}


body {
  font-size: 18px;
}

/* For tablets */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  img {
    width: 80%;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  img {
    width: 100%;
  }

}


